{% extends 'base.html' %}
{% block content %}
    <h1>Register</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        
        {{form.username.label(class="form-label")}}
        {%if form.username.errors%}
            {{form.username(class="form-control-danger")}}
            {%for error in form.username.errors%}
                <p class="text-danger">{{error}}</p>
            {%endfor%}
        {%else%}
            {{form.username(class="form-control")}}
        {%endif%}
        
        {{form.email.label(class="form-label")}}
        {%if form.email.errors%}
            {{form.email(class="form-control-danger")}}
            {%for error in form.email.errors%}
                <p class="text-danger">{{error}}</p>
            {%endfor%}
        {%else%}
            {{form.email(class="form-control")}}
        {%endif%}

        {{form.password.label(class="form-label")}}
        {%if form.password.errors%}
            {{form.password(class="form-control-danger")}}
            {%for error in form.password.errors%}
                <p class="text-danger">{{error}}</p>
            {%endfor%}
        {%else%}
            {{form.password(class="form-control")}}
        {%endif%}

        {{form.confirm_password.label(class="form-label")}}
        {%if form.confirm_password.errors%}
            {{form.confirm_password(class="form-control-danger")}}
            {%for error in form.confirm_password.errors%}
                <p class="text-danger">{{error}}</p>
            {%endfor%}
        {%else%}
            {{form.confirm_password(class="form-control")}}
        {%endif%}

        {{form.submit(class="btn ")}}
        <p>Already have an account? </p> <a href="{{url_for('login')}}">Login</a>
    </form>
    <style>
        p {
            text-align: left;
            color: #45a049;
        }
        h1 {
            text-align: center;
        }
        form {
            background-color: rgba(84, 89, 93, 0.279);
            margin-top: 20px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: left;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            border-radius: 20px;
        }
        .form-label {
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .form-control {
            margin-top: 5px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-control-danger {
            border: 1px solid red;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .btn {
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #45a049;
        }
        .text-danger {
            color: red;
        }
    </style>
{% endblock %}